page-evolucao {

    .suporte{
        position: relative;    
        bottom: 0;
        width:100%;
        margin-block-end: -5px;
        margin-left: 5px;  
    }
    
    .suporte1{
        position: relative;    
        bottom: 0;
        width:100%;
        margin-block-end: 2px;
        margin-left: 10px;  
    }

}
